.fnr-settings {
  &-header {
    margin-top: 40px;
  }
  &-card {
    padding: 20px;
    margin-top: 20px;

    input {
      height: 32px;
    }
  }
  .buttons {
    display: flex;

    .error {
      background-color: #e74c3c;
    }

    button + button {
      margin-left: 15px;
    }
  }
}
